{# Success #}
{% if updatePasswordSuccess %}
	<div class="alert alert-success"><p>{{ 'msg.UpdatePasswordIsSuccess'|trans }}</p></div>
{% endif %}

{# Error #}
{% if updatePasswordHasFormError %}
	<div class="alert alert-danger"><p>{{ 'err.FormError'|trans }}</p></div>
{% endif %}

<section id="updatePasswordForm">
	{% form updatePassword %}
		<fieldset>
			<p{% if txtOldPasswordError %} class="alert alert-danger"{% endif %}>
				<label for="oldPassword">{{ 'lbl.OldPassword'|trans|ucfirst }}<abbr title="{{ 'lbl.RequiredField'|trans }}">*</abbr></label>
				{$txtOldPassword}{$txtOldPasswordError}
			</p>
			<p{% if txtNewPasswordError %} class="alert alert-danger"{% endif %}>
				<label for="newPassword">{{ 'lbl.NewPassword'|trans|ucfirst }}<abbr title="{{ 'lbl.RequiredField'|trans }}">*</abbr></label>
				{% form_field new_password %} {% form_field_error new_password %}
			</p>
			<p{% if txtVerifyNewPasswordError %} class="alert alert-danger"{% endif %}>
				<label for="verifyNewPassword">{{ 'lbl.VerifyNewPassword'|trans|ucfirst }}
					<abbr title="{{ 'lbl.RequiredField'|trans }}">*</abbr>
				</label>
				{% form_field verify_new_password %} {% form_field_error verify_new_password %}
			</p>
			<p>
				<label for="showPassword">{% form_field show_password %} {{ 'lbl.ShowPassword'|trans|ucfirst }}</label>
			</p>
			<p>
				<input class="btn btn-primary" type="submit" value="{{ 'lbl.Save'|trans|ucfirst }}" />
			</p>
		</fieldset>
	{% endform %}
</section>
