{# Success #}
{% if forgotPasswordSuccess %}
	<div class="alert alert-success"><p>{{ 'msg.ForgotPasswordIsSuccess'|trans }}</p></div>
{% endif %}

{# Error #}
{% if forgotPasswordHasError %}
	<div class="alert alert-danger"><p>{{ 'err.FormError'|trans }}</p></div>
{% endif %}

{% if not forgotPasswordHideForm %}
	<section id="forgotPasswordForm">
		{% form forgotPassword %}
			<fieldset>
				<p{% if txtEmailError %} class="alert alert-danger"{% endif %}>
					<label for="email">{{ 'lbl.Email'|trans|ucfirst }}<abbr title="{{ 'lbl.RequiredField'|trans }}">*</abbr></label>
					{% form_field email %} {% form_field_error email %}
				</p>
				<p>
					<input class="btn btn-primary" type="submit" value="{{ 'lbl.Send'|trans|ucfirst }}" />
				</p>
			</fieldset>
		{% endform %}
	</section>
{% endif %}
