{#
	variables that are available:
	- {$searchResults}: contains an array with all items, each element contains data about the item
	- {$searchTerm}: the term that has been searched for
#}

{% if searchTerm %}
	<section id="searchResults">
		{% if not searchResults %}
			<p>{{ 'msg.SearchNoItems'|trans }}</p>
		{% else %}
			{% for result in searchResults %}
				<header>
					<h3>
						<a href="{{ result.full_url }}" title="{{ result.title }}">
							{{ result.title }}
						</a>
					</h3>
				</header>
					{% if not result.introduction %}{{ result.text|truncate(200) }}{% endif %}
				{% if result.introduction %}{{ result.introduction|raw }}{% endif %}
			{% endfor %}
		{% endif %}
	</section>

	{% include "Core/Layout/Templates/Pagination.html.twig" %}
{% endif %}
