{#
  variables that are available:
  - {{ widgetBlogRecentArticlesList }}: contains an array with all posts, each element contains data about the post
#}

{% if widgetBlogRecentArticlesList %}
	<section id="blogRecentArticlesListWidget" class="well">
			<header>
				<h3>{{ 'lbl.RecentArticles'|trans|ucfirst }}</h3>
			</header>
				<ul>
					{% for ArticlesList in widgetBlogRecentArticlesList %}
						<li><a href="{{ ArticlesList.full_url }}" title="{{ ArticlesList.title }}">{{ ArticlesList.title }}</a></li>
					{% endfor %}
				</ul>
			<footer class="ft">
				<p>
					<a href="{{ geturlforblock('Blog') }}">{{ 'lbl.BlogArchive'|trans|ucfirst }}</a>
					<a id="RSSfeed" href="{{ widgetBlogRecentArticlesFullRssLink }}">{{ 'lbl.SubscribeToTheRSSFeed'|trans|ucfirst }}</a>
				</p>
			</footer>
	</section>
{% endif %}
